bin/
obj/
.vscode/
**/bin/
**/obj/
*.user
*.suo
*.userprefs
*.vs/
*.DS_Store
*.log
*.vsix
.nuget/
*.nupkg
*.snupkg
packages/
*.db
*.db-journal
build/
**/*.db
**/*.pdb
**/*.lock.json
**/TestResults/
**/*.vsix
node_modules/
